	
@font-face {
	font-family: 'ArcadeClassic';
	src: url("../fonts/ARCADECLASSIC.ttf");
}
nav ul li.bg-volume {float:right;}
body{background-image: url(../images/final-bg.png);background-repeat: repeat;background-size:40%;padding:30px 50px;}

nav {height: 110px;background-color: #1b94bf;}
nav ul {list-style: none;display:block;}
nav ul li .logo a img{height: 80px;}

div.game-canvas-container{position:relative;margin-top: 100px;margin-bottom:50px;margin:0 auto;padding-top:60px;padding-bottom:30px;width: 100%; background-color: #17232b;background-color: #06151c;}
div.game-menu {position: absolute;top:10px;left:12%; width: 50%;}
div.player-hp {margin-top: 10px;}
div.code-area-container {background-color: #595959; margin: 0px; padding: 0px;}
div.code_area {font-family: "Courier New";padding: 0 15px !important;}

textarea.code_area {background-color: inherit;border: none;resize:none;width:100%;margin: 0;padding: 0;color: #fff;}
textarea.code_area:focus {outline: none;}

div.line-number {margin: 0px; padding: 0px; padding-right: 20px;}
div.line-number textarea {margin: 0px;padding: 0px;overflow:hidden;resize: none;width: 100%;background-color: inherit;color: #b0b0b0;text-align: right;border: none;}
div.button-run-container {margin: 0px; padding: 0px; border-top: 1px solid #737373;height:92px;background-color: #121c1d;}
div.button-run-container .btn {font-size:25px !important;width:30%;margin:0 auto;font-family: 'ArcadeClassic';background:#d3c61e;border:solid 5px #0f0f0f;border-radius:0;
    transition: .3s;
    color:#ffce12;
    border-top-color:#ffce12;
    border-bottom-color:#ffce12;
    border-right-color:#dd7900;
    border-left-color:#dd7900;
    background-color: #111 !important;
animation: grow infinite 2s;}
@keyframes grow {
	0%{box-shadow: 0px 0px 0px #ffff00;}
	30%{box-shadow: 0px 0px 10px #ffff00;}
	100%{box-shadow: 0px 0px 0px #ffff00;;}
}
div.button-run-container {margin: 0px; padding: 0px; border-top: 1px solid #737373;}
div.button-run-container div.button-run {padding: 20px 0px; }

.modal {display: none;position: fixed;z-index: 1;left: 0;top: 0; width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.modal-content {background-color: #fefefe;margin: 15% auto; /* 15% from the top and centered */padding: 20px;border: 1px solid #888; width: 80%; /* Could be more or less, depending on screen size */}
.close {color: #aaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,.close:focus {color: black;text-decoration: none;cursor: pointer;}
