	
@font-face {
	font-family: 'ArcadeClassic';
	src: url("../fonts/ARCADECLASSIC.ttf");
}
nav ul li.bg-volume {float:right; padding-right: 15px;}
body{background-image: url(../images/final-bg.png);background-repeat: repeat;background-size:40%;padding:30px 50px;}

nav {height: 110px;background-color: #1b94bf;}
nav ul {list-style: none;display:block;}
nav ul li .logo a img{height: 80px;}


div.game-canvas-container{position:relative;margin-top: 100px;margin-bottom:50px;margin:0 auto;padding-top:60px;padding-bottom:30px;width: 100%; background-color: #17232b;background-color: #06151c;}
div.game-menu {position: absolute;top:10px;left:12%; width: 50%;}
div.player-hp {margin-top: 10px;}
div.code-area-container {background-color: #595959; margin: 0px; padding: 0px;}
div.code_area {font-family: "Courier New";padding: 0 15px !important;}

textarea.code_area {background-color: inherit;border: none;resize:none;width:100%;margin: 0;padding: 0;color: #fff;}
textarea.code_area:focus {outline: none;}
div.box {position:relative;padding:10px 20px;margin:20px auto;border-radius:10px;background-color:#1f3a4f90;background-color:#006c7880;box-shadow:0px 0px 5px #eaffff;border:solid 5px #eaffff;-webkit-animation: appear 2s; /* Safari, Chrome and Opera > 12.1 */-moz-animation: appear 2s; /* Firefox < 16 */-ms-animation: appear 2s; /* Internet Explorer */-o-animation: appear 2s; /* Opera < 12.1 */animation: appear 2s;}
div.box:before{position:absolute;content:'';top:0px;left:0px;width: 0;height: 0;border-style: solid;border-width: 15px 15px 0 0;border-color: #eaffff transparent transparent transparent;}
div.box:after{position:absolute;content:'';bottom:0px;right:0px;width: 0;height: 0;border-style: solid;border-width: 0 0 15px 15px;border-color: transparent transparent #eaffff transparent;}
div.box > div.head{height:60px;position:absolute;top:10px;left:20px;margin:0 auto;font-family: 'ArcadeClassic';color:#ffce12;text-align: center;font-size: 40px;/*animation:floating 10s infinite;*/}
div.box > div.head > img {height:50px;width:50px;background:#121212;border-radius: 50%;}
div.box > div.head > label {margin-left:20px;font-family:'ArcadeClassic';letter-spacing:2px;font-size:30px;color:#ffce12;}
div.box p.dialog {margin:40px auto 0px auto;text-align:center;padding-top:20px;font-size:25px;color:#eaffff;text-shadow: 1px 1px 1px #333;}
div.line-number {margin: 0px; padding: 0px; padding-right: 20px;}
div.line-number textarea {margin: 0px;padding: 0px;overflow:hidden;resize: none;width: 100%;background-color: inherit;color: #b0b0b0;text-align: right;border: none;}
div.button-run-container {margin: 0px; padding: 0px; border-top: 1px solid #737373;height:92px;background-color: #121c1d;}
div.button-run-container .btn {font-size:25px !important;margin:0 auto;font-family: 'ArcadeClassic';background:#d3c61e;border:solid 5px #0f0f0f;border-radius:0;
    transition: .3s;
    color:#ffce12;
    border-top-color:#ffce12;
    border-bottom-color:#ffce12;
    border-right-color:#dd7900;
    border-left-color:#dd7900;
    background-color: #111 !important;
animation: grow infinite 2s;}
div.bg{position: relative;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #1f3a4f90;
    background-color: #006c7880;
    box-shadow: 0px 0px 5px #eaffff;
    border: solid 5px #eaffff;
    -webkit-animation: appear 2s;
    -moz-animation: appear 2s;
    -ms-animation: appear 2s;
    -o-animation: appear 2s;
    animation: appear 2s;}
@keyframes floating{
  0%,20%,40%,60%,80%,100%
  {
    margin-top:-5px;
  }
  10%,30%,50%,70%,90% {
    margin-top:0px;
  }
}
@keyframes grow {
	0%{box-shadow: 0px 0px 0px #ffff00;}
	30%{box-shadow: 0px 0px 10px #ffff00;}
	100%{box-shadow: 0px 0px 0px #ffff00;;}
}


@keyframes appear {
    from { transform: scale(.5); opacity: 0;}
    to   { transform: scale(1); opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes appear {
    from { transform: scale(.5); opacity: 0;}
    to   { transform: scale(1); opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes appear {
    from { transform: scale(.5); opacity: 0;}
    to   { transform: scale(1); opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes appear {
    from { transform: scale(.5); opacity: 0;}
    to   { transform: scale(1); opacity: 1;}
}

/* Opera < 12.1 */
@-o-keyframes appear {
    from { transform: scale(.5); opacity: 0;}
    to   { transform: scale(1); opacity: 1;}
}
div.button-run-container {margin: 0px; padding: 0px; border-top: 1px solid #737373;}
div.button-run-container div.button-run {padding: 20px 0px; }

.objectives p {color:#fff;}
.modal-content h1{color:#ffce12;font-family: 'ArcadeClassic'; font-size:50px;text-align: center;margin:0 !important;}
.goal {color:#ffff00;font-size:32px;font-family: 'ArcadeClassic';}
.modal {display: none;position: fixed;z-index: 1;left: 0;top: 0; width: 100%;height: 100%;overflow: auto;background-color: rgba(0,0,0,.4);}
.modal-content {background-color: #333333 !important;margin: 15% auto; /* 15% from the top and centered */padding: 20px;border: 3px solid #ffce12; width: 80%; /* Could be more or less, depending on screen size */}
.close {color: #aaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,.close:focus {color: black;text-decoration: none;cursor: pointer;}
ul.button li {margin:0 10px;}
ul.button li a {width:110px !important;font-family: 'ArcadeClassic';}
