@font-face {
	font-family: AdventPro;
	src: url("fonts/AdventPro-Regular.ttf");
}

@font-face {
	font-family: AdventPro;
	src: url("fonts/AdventPro-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family:BebasNeue;
	src: url("../fonts/BebasNeue.otf");
}

nav.navbar ul {
	font-family: BebasNeue; 
	font-size:30px !important;
	overflow-x:hidden;
}

nav.navbar-default {
	transition: .3s;
	position:absolute;
	top:0;
	right:0;
	width:100%;
	background-color: rgba(17, 186, 174, .9) !important;
	background-image:none;
	box-shadow:1px 1px 50px #222;
	border:none;
	border-radius:0;
	z-index:2 !important;
	height:100px !important; 
	padding:5px 0;
	border-bottom:solid 3px white;
}

nav.navbar-default a.navbar-brand {
	padding:5px !important;
	width:100px; 
	max-width:120px;px;
	transition:.5s;
	margin-right: 30px;
}

#navbar:hover a.navbar-brand {
	width:120px; 
	transition:.6s;
}

nav.navbar-default ul {
	font-family: BebasNeue; 
	font-size:30px !important;
	overflow-x:hidden;}

nav.navbar-default:hover {
	transition: .3s;
	padding-top:10px;
	padding-bottom:15px; 
	height:120px !important;
}

nav.navbar-default ul:not(:first-child){
	font-size:20px; 
	margin-top:18px;}
nav.navbar-default ul:not(:first-child) a:hover{
	font-size:35px; 
	margin-top:5px;
	transition: .3s;
	background-color: rgba(28,70,73,.9) !important;/*background-color: rgba(17, 186, 174, .7);*/
	border-bottom:solid 2px #fff;border-radius: 10px;
}

div.home-bg {
	background-image: url("../images/home_bg.jpg");
	background-size: cover;
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}
div.banner{
	position: relative;
	background-image: url("../images/home_bg.jpg");
	padding: 90px 70px;
	max-height: 900px;
	background-size: cover;
	margin: 0px 0px 0px 0px;
	overflow-y: hidden;
}
div.login-panel {
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	position: relative;
}
div.login-form {
	margin: 0px auto;
	font-family: AdventPro;
}