@font-face {
	font-family: AdventPro;
	src: url("fonts/AdventPro-Regular.ttf");
}

@font-face {
	font-family: AdventPro;
	src: url("fonts/AdventPro-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family:BebasNeue;
	src: url("../fonts/BebasNeue.otf");
}

nav.navbar ul {
	font-family: BebasNeue;
	font-size:30px !important;
	overflow-x:hidden;
}
nav.navbar li.dropdown button ul.dropdown-menu{
	display:none;
}

nav.navbar ul.dropdown-menu a {
	background: rgba(0, 0, 0, 0.9);
}
nav.navbar ul.dropdown-menu{
	background: none !important;

	background-color: none !important;
	border-radius: 0;
	border:none;

}
nav.navbar ul.dropdown-menu li a:hover nav.navbar ul:last-child{
	background: #333 !important;
	background-color: #333 !important;
}
nav.navbar ul.dropdown-menu {
	background-color: none !important;
	color:#fff;
	margin:0 !important;
}
nav.navbar ul.dropdown-menu li a:hover {
	background-color:#ffce12 !important;
	margin:0 !important;
	border-radius: 0;
	padding:0;
	text-align: center;
	color:#000;

}
nav.navbar ul.dropdown-menu li a{

	color:#fff;
}

li.dropdown button:hover ~ li.dropdown{
	background: #000 !important;
	background-color: #000 !important
}

nav.navbar li.dropdown a:hover ~ ul.dropdown-menu, nav.navbar li.dropdown ul.dropdown-menu:hover{
	position:static;
	display:block;
	overflow-y: auto;
	margin-top:0px;
	background: #1c4649;
	border-radius: 5px;
	width: 100%;
}
ul.dropdown-menu {
	margin:0px !important;
}
ul.dropdown-menu li{
	margin:0px !important;
}
ul.dropdown-menu li a{
	margin:0px !important;
}
nav.navbar li.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*nav.navbar ul:last-child{display: block;max-height: 500px;height: 100%;}
nav.navbar ul:last-child ul{display: block;height: 100%;}*/

nav.navbar-default {
	transition: .3s;
	position:absolute;
	top:0;
	right:0;
	width:100%;
	background-color: rgba(17, 186, 174, .9) !important;
	background-image:none;
	box-shadow:1px 1px 50px #222;
	border:none;
	border-radius:0;
	z-index:2 !important;
	height:100px !important; 
	padding:5px 0;
	border-bottom:solid 3px white;
}

.alert {
	position:absolute;
	z-index: 1; 
	top:110px; 
	left:0;
	width:90%;
	margin:0 5%;
}

nav.navbar-default a.navbar-brand {
	padding:5px !important;
	width:100px; 
	max-width:120px;px;
	transition:.5s;
	margin-right: 100px;
}

#navbar:hover a.navbar-brand {
	width:120px; 
	transition:.6s;
}

nav.navbar-default ul {
	font-family: BebasNeue; 
	font-size:30px !important;
	overflow-x:hidden;}

nav.navbar-default:hover {
	transition: .3s;
	padding-top:10px;
	padding-bottom:15px; 
	height:120px !important;
}

nav.navbar-default ul:not(:first-child){
	font-size:20px; 
	margin-top:18px;
}
nav.navbar-default ul:not(:first-child):not(:last-child) a{

	margin-left:20px;
}
nav.navbar-default ul:not(:first-child):not(:last-child) a:hover{
	font-size:35px; 
	margin-top:5px;
	transition: .3s;
	background-color: rgba(28,70,73,.9) !important;/*background-color: rgba(17, 186, 174, .7);*/
	border-bottom:solid 2px #fff;border-radius: 10px;
}

div.banner{
	position: relative;
	background-image: url("../images/home_bg.jpg");
	padding: 90px 70px;
	max-height: 900px;
	background-size: cover;
	margin: 0px 0px 0px 0px;
	overflow-y: hidden;
}

div.banner h1 {
	color:white;
	font-weight: 700;
	margin-top:200px;
	font-size:50px; 
	text-shadow:2px 2px 5px #000;
}

div.login-panel {
	margin-top:80px;
	padding:20px 40px;
	max-height:320px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	position: relative;
}

div.login-panel label, div.login-panel input, div.login-panel h2{
	font-family: AdventPro;
}

div.login-panel h2{
	text-align: center !important;
	color:#fff !important;
	margin:10px auto !important;
}

div.login-form {
	margin: 0px auto;
	font-family: AdventPro;
	z-index:2;
}

h3.learn-more a{
	font-family:calibri;
	font-weight:800;
	font-size:30px;
	color: #fff; 
	text-shadow:1px 1px 3px #000;
	margin-top:20px;
	cursor: hand;
	text-decoration: none;
}

h3.learn-more i{
	font-size:25px;
}

h3.learn-more:hover a{
	color:#ffce12;
	font-size:33px;
	transition: .3s;
}

h3.learn-more:hover i{
	color:#ffce12;
	font-size: 28px;
	transition: .3s;
}

div.navbar-game {
	background: #333;
	height:100px;
	padding:5px;
}
div.navbar-game ul {
	list-style: none;
}