
@font-face {
	font-family:BebasNeue;
	src: url("../fonts/BebasNeue.otf");
}
@font-face {
font-family: 'FontAwesome';
src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}
html{
}
.fa .fa-home{
font-family: 'FontAwesome';
}
.fa .fa-tasks{

font-family: 'FontAwesome';
}
body{
	background:#fff;
	background:#121c1d;
	background-color: #6ca2a7;
}
a.navbar-brand img {
	height: 70px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom:5px;
}
a.navbar-brand{
	margin-top: 0px;
	padding-top: 7px;
	padding-bottom:5px;
}
li a.navbar-brand{padding-top:7px;}
a.navbar-brand:hover{
	background-color: transparent !important;
}
div.navbar-custom{
	padding:0 5%;
	background-color: #121c1d;
	background-color: #333333;
	background-color: #333333;
	background-color: #16232b;
	border-radius: 0;
	border-bottom: solid 3px #111;
	margin-bottom: 0;
	border-bottom:solid 3px #253544;
}
nav{
	position:relative;
	height:80px;
	background:#121c1d;
	background-color: #121c1d;
	background-color: #333333;background-color: #16232b;
	padding:0px 0;
}
nav ul {
	padding-left:10px;
}
nav ul li:not(:first-child){padding:15px;}		
nav ul li a{font-family: BebasNeue; font-size:25px;color:#fff;}
h1,h2,h3{color:#000;}
section{
	padding:0 80px;
	margin:0 auto;

}
/* Reveal */
.hvr-reveal:hover{
	background-color: transparent !important;
	color:#ffce15;
}
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.sidebar {
	margin:20px 0px;
	background:#111;
	width: 100%;
	padding:30px;
	border: solid 3px #ffce15;
}
.sidebar ul{
	list-style: none;
	padding:10px;
}
.sidebar ul .avatar{
	margin:10px auto;
	background-color: #777;
	margin:0 auto;
	text-align: center;
}
.sidebar ul li .info p{font-size: 15px; color:#fff;}
.sidebar ul li .menu{
	padding:5px;
	text-align: center;border-top:solid 1px #ffce12;
}
.sidebar ul li .menu a{
	color:#fff;
	font-size: 25px;
}
.sidebar ul li a i{
	color:#fff;
	font-size: 25px;
}
.sidebar ul li a:hover{
	transition:.3s ease-in-out;
	color:#ffff00;
	text-decoration: none;
}
.content {margin:20px;background-color: #333;padding:30px;}
.content .stage-progress {width:200px;}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-color: #304759;
  border-color: #ffce15;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}
ol{
	background-color: #333 !important;}
	ol li span{
		color:#ffce12;
	}
div.bg {
    background-image: url("../images/latest_global_map.png");
    background-size:60%;
    background-color:#121c1d;
    background-position:0 center center center;
}
div.bg::after{content: '';}
div.wrapper {
	margin:0 12%;
	padding:20px;
	background-color: #121c1d;
	background-color: #ebea70 !important;
	background-color: #121c1d !important;
	border-left:5px solid #253544;
	border-right:5px solid #253544;
}
.breadcrumb{margin-bottom: 40px !important;}
div.wrapper p {
	text-align: center;
}
div.profile-info {
	margin: 0 auto;
	text-align: center;
	font-weight: 600;
}
div.profile-info h3{
	color:#fff;font-size:20px;
}
div.profile-wrapper{
	background-color: #4ac0dc;
	background:#333;
	border:#fff solid 3px;
}
div.profile-wrapper img{
	max-height: 200px;
	height:100%;
	background:#333;
}
div{}

footer{}
