
div#code-animation p.var-highlight-1 {
    color: #66d9ef !important;
}
div#code-animation p.var-highlight-2 {
    color: #ae739a !important;
}
div#code-animation p.var-highlight-3 {
    color: #f92672 !important;
}
div#code-animation p {color: #f8f8f2;}
div#code-animation h4.line-num {
    background-color: #11121a;
    align-items: center;
    border-right: 2px solid #ccc !important;
    padding: 0 20px;
    animation-delay: 1s;
    height: 30px;
    margin: 0 1em 0 0;
    color: #cccccc;
}

div#code-animation:after {
	content: "|";
	color: #333333;
	font-size:20px;
	margin-left:-1em;
	animation: blink 500ms infinite alternate;    -webkit-animation-timing-function: steps(2, end);
    -moz-animation-timing-function: steps(2, end);
    -ms-animation-timing-function: steps(2, end);
    -o-animation-timing-function: steps(2, end);
    animation-timing-function: steps(2, end);
}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

div#code-animation > * {
    display: none;
    line-height: 1px;
    font-size: 18px;
}
div#code-animation strong{color:#ffce12 !important;}
div#code-animation p {
    margin: 0 .5em;
} 
div#code-animation p.comment{color:#75715e;}
div#code-animation{margin:0px;}
div#code-animation{
	font-family: 'Monospace';
    background-color: #272822;}
button.close{    background: #000;
    border-radius: 25px;
    padding: 2px 7px;}
div.tutorialDescription p {background-color: transparent;margin:10px auto !important;}
div.tutorialDescription strong{color:#ffce12;}